// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.toolbar-background-md {
    //background: map-get($colors, roman);
}

h6, h5, h4, h3, h2, h1, p {
	//color: $app-default-font-color;
	//font-family: $app-default-font-family; 

    &.bold {
      	font-weight: bold;
    }

	&.italic {
		font-style: italic;
	}
}

ion-header {
	.row {
		padding: 0;
	}
	.col {
		padding: 0 0 0 10px;

	}
	h3 {
		margin: 2px 0 0 0;
		font-size: 2rem;
	}
}

.vertical-center {
	position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

.tabs-md { 
	.tab-button {
    	min-height: 4.5rem;
    } 
	.tab-button-icon {
    	min-width: 3rem;
		font-size: 3rem;
	}
}

.profile-pic {
	border-radius: 50%;
    overflow: hidden;
    min-width: 40px;
    min-height: 40px;
    width: 40px;
    height: 40px;
}

.name-tag, p.time-stamp {
	font-weight: normal;
	color: map-get($colors, gray);
}

p.tweet-text { 
    color: black;
    margin-top: 10px;
    white-space: normal;
}

.row.tweet-buttons {
	margin-top: 10px;
	.col.tweet-buttons {
		padding: 0;
		color: map-get($colors, gray);
		&.retweeted, &.retweeted p {
			color: map-get($colors, green);
		}
		&.favorited, &.favorited p {
			color: map-get($colors, red);
		}
		p {
			display: inline-block;
			font-size: 1.3rem;
			vertical-align: middle;
		}
	}
}

.list-ios .item-block .item-inner {
	border: none;
}

.item-md, .item-ios {
	&.tweet {
		padding-left: 10px;
		border-bottom: 1px solid $tweet-border-color;
		.col {
    		padding: 0 0 0 10px;
    		h2 {
    			margin-top: 0;
    		}
    	}
    	img.profile-pic {
			border-radius: 50%;
    		overflow: hidden;
    		min-width: 45px;
    		min-height: 45px;
    		width: 45px;
    		height: 45px;
		}
		img.tweet-image {
			display: inline-block;
			padding: 0;
			flex-grow: 1;
			width: 50%;
			&:nth-child(1), &:nth-child(3) {
				padding-right: 2px;
			}
			&:nth-child(2), &:nth-child(4) {
				padding-left: 2px;
			}
			&:nth-child(3), &:nth-child(4) {
				margin-top: 4px;
			}
			&:first-child:last-child {
				padding: 0;
			}
		}
    	.retweet {
    		.col-1 {
    			min-width: 45px;
    			width: 45px;
    		}
    		p, ion-icon {
    			font-size: 1.2rem;
    			color: map-get($colors, gray);
    		}
    		ion-icon {
    			margin: 0;
    			line-height: normal;
    			display: inherit;
    			text-align: right;
    		}
    	}
    	.label-md, .label-ios {
		    margin-bottom: 5px;
		}
		ion-icon.verified {
			font-size: 0.9em;
		}
		.quote-tweet {
			margin-top: 10px;
			padding: 5px;
		    border: solid 1px #dedede;
		    border-radius: 4px;
		    h2 {
		    	font-size: 1.5rem;
		    }
		    p {
		    	font-size: 1.3rem;
		    	margin-top: 0px;
		    }
		}
	}

	ion-avatar[item-left] {
		position: relative;
		margin: 0 10px 0 0;
		img {
    		width: 45px;
    		height: 45px;
		}
	}

	.label-md {
    	margin-right: 0px;
	}
}

.list-md .item-block .item-inner {
    border: none;
}
